<table style="width:100%">
    <tr>
        <td>Persona</td>
        <td>Facebook</td>
        <td>LinkedIn</td>
        <td>Twitter</td>
    </tr>
    <tr>
        <td>Antonio Camacho Mira</td>
        <td>
            <img src="assets/images/facebook_64.png" alt="" /> <br />
            <a href="http://">Ir al perfil</a>
        </td>
        <td>
            <img src="assets/images/linkedin_64.png" alt="" /><br />
            <a href="http://">Ir al perfil</a>
        </td>
        <td>
            <img src="assets/images/twitter_64.png" alt="" /><br />
            <a href="http://">Ir al perfil</a>
        </td>
    </tr>
    <tr>
        <td>Bill Gates</td>
        <td>
            <img src="assets/images/facebook_64.png" alt="" /> <br />
            <a href="http://">Ir al perfil</a>
        </td>
        <td>
            <img src="assets/images/linkedin_64.png" alt="" /><br />
            <a href="http://">Ir al perfil</a>
        </td>
        <td>
            <img src="assets/images/twitter_64.png" alt="" /><br />
            <a href="http://">Ir al perfil</a>
        </td>
    </tr>
    <tr>
        <td>Linus Torvals</td>
        <td>
            <img src="assets/images/facebook_64.png" alt="" /> <br />
            <a href="http://">Ir al perfil</a>
        </td>
        <td>
            <img src="assets/images/linkedin_64.png" alt="" /><br />
            <a href="http://">Ir al perfil</a>
        </td>
        <td>
            <img src="assets/images/twitter_64.png" alt="" /><br />
            <a href="http://">Ir al perfil</a>
        </td>
    </tr>
    <tr>
        <td>El señor de FaceBook</td>
        <td>
            <img src="assets/images/facebook_64.png" alt="" /> <br />
            <a href="http://">Ir al perfil</a>
        </td>
        <td>
            <img src="assets/images/linkedin_64.png" alt="" /><br />
            <a href="http://">Ir al perfil</a>
        </td>
        <td>
            <img src="assets/images/twitter_64.png" alt="" /><br />
            <a href="http://">Ir al perfil</a>
        </td>
    </tr>
</table>